.well
  = simple_form_for @person do |f|
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :notes
    = f.input :notes2
    .text-center
      = f.button :submit, class: "btn btn-primary"
